/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
 @plugin "daisyui" {
   themes: light --default, dark --prefersdark,night;
 }
 @font-face {
  font-family: 'Roboto';
  src: url('../public/assets/fonts/static/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Creamos la utilidad de Tailwind */
@utility animate-fadein {
  animation: fadein 0.3s ease-in-out;
}
body {
  font-family: 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';
